{% extends "base/base.html" %}
{% block title%} My Drugs {%endblock%}
{% load i18n %}
{% block content %}
 <div class="panel panel-default col-md-8 col-md-offset-2" >
     <div class = "table-responsive">
              <table class="table" style="color:black;">
         <tr>
            <th>
                  name
             </th>
             <th>
                description
             </th>
             <th>
                 toxicity
             </th>
             <th>
                 interaction
             </th>
             
         </tr>


         {% for drugObj in matchDrug %}
         <tr>
             <td>
                   {{drugObj.name}}
             </td>
             <td>
                 {{drugObj.description}}
             </td>
             <td>
                 {{drugObj.toxicity}}
             </td>
             <td>
                 {{drugObj.interaction}}
             </td>

         </tr>
         {% endfor %}
     </table>
     </div>
 </div>
{% endblock %}