{% extends "base/base.html" %}
{% block title%} My Drugs {%endblock%}
{% load i18n %}
{% block content %}
 <div class="panel panel-default col-md-8 col-md-offset-2" >
     <div class = "table-responsive">
              <table class="table" style="color:black;">
         <tr>
            <th>
                  name
             </th>
             <th>
                description
             </th>
             <th>
                 toxicity
             </th>
             <th>
                 interaction
             </th>
              <th>
                 Delete
             </th>
         </tr>

        {% for drug in drugs %}
         <tr>
             <td>
                   {{drug.name}}
             </td>
             <td>
                 {{drug.description}}
             </td>
             <td>
                 {{drug.toxicity}}
             </td>
             <td>
                 {{drug.interaction}}
             </td>
             <td>
             <form action="/drug/delete/" method="post">
             {% csrf_token %}
                 <input type="hidden" name="drug_id" value="{{drug.id}}"/>
                 <input type="submit" value="Delete Item" />
            </form>
             </td>
         </tr>
        {% endfor %}
     </table>
     </div>
 </div>
{% endblock %}