{% extends "base/base.html" %}
{% block title %} Homepage {% endblock %}
{% load i18n %}
{% load static %}
{% block content %}

<div style="margin-left:-15px;margin-right:-15px;">
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static '/static/planModule/img/1.jpg' %}"  height="400" width="700" style="margin-left:380px;" alt="First slide" class="img-responsive">
            <div class="carousel-caption">
              <h1>9 Reasons so many switch to a quip electric toothbrush. </h1>
              <h3>Have you been putting off dental advice to go electric, or maybe you switched but have regrets? For years, brush brands have been adding features teeth don’t need to increase profits, leading to over-priced, complex options. Here’s how the designers and dentists behind quip fixed the electric brush.
              </h3>
            </div>
        </div>
        <div class="item">
          <img src="http://www.health.com/sites/default/files/styles/300x300/public/styles/main/public/gettyimages-109735167.jpg?itok=A6MxF4fE"   height="400" width="700" style="margin-left:380px;" alt="Second slide"  class="img-responsive">
            <div class="carousel-caption">
              <h1>How a Support Group May Help in Your IPF Journey</h1>
                <h3>When Nick was diagnosed with a rare and severe lung condition called idiopathic pulmonary fibrosis (IPF), his wife of 40 years, Barbara, took on a new role: caregiver. IPF is a disease that gets worse over time. IPF can be challenging to diagnose because its symptoms—such as shortness of breath, a persistent dry cough and fatigue—may also be signs of other respiratory conditions. There is no cure for IPF, though there are approved treatments and other ways to manage this uncommon disease. Because of the serious and unpredictable nature of IPF</h3>
            </div>
        </div>
        <div class="item">
          <img src="http://www.health.com/sites/default/files/styles/300x300/public/1485793266/GettyImages-665480985-cropped.jpg?itok=b3r1CqF0s"   height="400" width="700" style="margin-left:380px;" alt="Third slide"  class="img-responsive">
            <div class="carousel-caption">
              <h1>These sheets are one of the best purchases I’ve ever made — here’s why</h1>
              <h3>Luxury bedding doesn't come cheap. Even in the direct-to-consumer space — which is leaps and bounds more affordable than traditional retailers like Frette, which marks up its sheets by as much as 220% — finding genuine "deals" and "good values" is next to impossible. You still end up spending somewhere around $300 or $400 on a new set of sheets from startups like Parachute and Boll & Branch. </h3>
            </div>
        </div>
      </div>
    <div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <div>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!-- /.carousel -->
</div>

{% endblock %}

