{% extends "base/base.html" %}
{% block title%} My Plans {%endblock%}
{% load i18n %}
{% block content %}
{% if plans %}
 <div class="panel panel-default col-md-8 col-md-offset-2" >
     <div class="table-responsive">
         <table class="table" style="color:black; ">
        <tr>
            <th>
                  name
             </th>
             <th>
                drug
             </th>

             <th>
                 frequencies
             </th>
              <th>
                 dose
             </th>
             <th>
                 startDate
             </th>
             <th>
                 endDate
             </th>
             <th>
                 Delete

             </td>
             <td>
                 Edit
             </td>
             </th>

         </tr>

        {% for plan in plans %}
         <tr>
             <td>
                   {{plan.name}}
             </td>
             <td>
                 {{plan.drug}}
             </td>
             <td>
                 {{plan.frequencies}}
             </td>
             <td>
                 {{plan.dose}}
             </td>
             <td>
                 {{plan.startDate}}
             </td>
             <td>
                 {{plan.endDate}}
             </td>
             <td>
             <form action="/plan/{{plan.id}}/drop/" method="post" >
             {% csrf_token %}
                 <input type="hidden" name="plan_id" value="{{plan.id}}"/>
                 <input type="submit" value="Delete plan" />
            </form>
            </td>

            <td>
             <form action="/plan/{{plan.id}}/edit/" method="post" >
             {% csrf_token %}
                 <input type="hidden" name="plan_id" value="{{plan.id}}"/>
                 <input type="submit" value="Edit plan" />
            </form> 
            </td>
         </tr>
        {% endfor %}
     </table>
     </div>
        <!--共有 {{ counter.topics}} 篇帖子-->
 </div>
{% else %}
<p>You have no plans yet, click <a href="{% url 'plan:plan_create' %}">HERE</a> to create a new plan. :) </p>
{% endif %}

{% endblock %}